@model IEnumerable<WebCrud2.Models.RoleModel>

@{
    ViewData["Title"] = "list_user";
}

<h1>list_user</h1>

<p>
    <a asp-action="create_user">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewData["user"] as List<RoleModel>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
